body {
    background-color: #143370;
    color: yellow;
    font-family: 'Andale Mono', monospace;
    font-size: 1.5rem;
    padding: 2rem;
}

.score {
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 400px;
}